*{
	//border: 2px solid black;
}
img.antikytheraPic{
	width:200px;
	height:200px;
}
img.differenceEngine{
	width:220px;
	height:300px;
}
img.analogComputer{
	width:300px;
	height:300px;
}
img.electromechanicalComputer{
	width:300px;
	height:300px;
}
img.colossus{
	width:350px;
	height:300px;
}
img.manchesterBaby{
	width:320px;
	height:250px;
}
img.mobile{
	width:190px;
	height:300px;
}